@import url(./navbar.css);
@import url(./filter.css);
@import url(./advancedFilter.css);
@import url(./products.css);
/* ! CSS Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
  background-color: var(--backGroundColor);
  color: var(--blackPrimary);
}
:root {
  --colorPrimary: #de3618;
  --colorSecondary: #ff755c;
  --blackPrimary: #161d25;
  --blackSecondary: #222f5d;
  --mainWhite: #ffffff;
  --grayPrimary: #afafaf;
  --graySecondary: #e2e2e2;
  --backGroundColor: #f4f4f4;
}
::placeholder {
  color: var(--grayPrimary);
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
}
a {
  text-decoration: none;
}
input {
  border: none;
  outline: none;
  background-color: transparent;
}
.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
/* ! Loader  */
.custom-load{
  right: 0px;
  bottom: 0px;
  position: absolute;
  height: 40px;
  width: 150px;
  background-color: black;
  border-radius: 5px;
  opacity: 0.7;
  margin: 20px;
  z-index: 10;
}
.custom-load .loader{
  display: inline-block;
}
.custom-load .outer-label{
  display: inline-block;
  text-align: center;
  vertical-align: top;
  height: 40px;
  padding: 10px 10px;
  color: white;
}
.custom-load .inner-label{
  text-align: center;
}